/* temp */
body {
  padding: 2rem 2rem;
}

*,
::after,
::before {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Karla:400|Spectral:400');

html {
  font-size: 100%;
} /*16px*/

:root {
  /* colors */

  /* primary */
  --primary-100: #dad7f0;
  --primary-200: #b5afe2;
  --primary-300: #9086d3;
  --primary-400: #6b5ec5;
  --primary-500: #4636b6;
  --primary-600: #382b92;
  --primary-700: #2a206d;
  --primary-800: #1c1649;
  --primary-900: #0e0b24;

  /* grey */
  --grey-100: #f6f5f7;
  --grey-200: #ecebef;
  --grey-300: #e3e1e7;
  --grey-400: #d9d7df;
  --grey-500: #d0cdd7;
  --grey-600: #a6a4ac;
  --grey-700: #7d7b81;
  --grey-800: #535256;
  --grey-900: #2a292b;

  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  /* fonts */
  --headingFont: 'Spectral', serif;
  --bodyFont: 'Karla', sans-serif;
  --smallText: 0.7em;

  /* box shadow */
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);

  /* rest of the vars */
  --backgroundColor: var(--grey-100);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;
}

body {
  background: var(--backgroundColor);
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
  color: var(--textColor);
}

p {
  margin-bottom: 1.5rem;
  max-width: 40em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.38rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text_small {
  font-size: var(--smallText);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

/* buttons */
.btn {
  display: inline-block;
  background: var(--primary-500);
  color: white;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  cursor: pointer;
  border: transparent;
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-1);
  transition: var(--transition);
}
.btn:hover {
  background: var(--primary-700);
  box-shadow: var(--shadow-3);
}
.btn-hipster {
  background: var(--primary-200);
  color: var(--primary-500);
}
.btn-hipster:hover {
  background: var(--primary-700);
  color: var(--primary-200);
}
/* for form submit button */
.btn-block {
  width: 100%;
}

/* alerts */
.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: var(--borderRadius);
}
.alert-danger {
  background: var(--red-light);
  color: var(--red-dark);
}
.alert-success {
  background: var(--green-light);
  color: var(--green-dark);
}

/* forms */
.form {
  width: 90vw;
  max-width: var(--fixed-width);
  background: white;
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
}
.form-label {
  display: block;
  font-size: var(--smallText);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}
.form-input,
.form-textarea {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--borderRadius);
  background: var(--backgroundColor);
  border: 1px solid var(--grey-200);
  box-shadow: var(--shadow-1);
}
.form-row {
  margin-bottom: 1rem;
}
.form-textarea {
  height: 7.8rem;
}
::placeholder {
  font-family: inherit;
  color: var(--grey-400);
}
.form-alert {
  color: var(--red-dark);
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
}

/* loading */

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  margin: 0 auto;
  width: 6rem;
  height: 6rem;
  border: 5px solid var(--grey-400);
  border-radius: 50%;
  border-top-color: var(--primary-400);
  animation: spinner 0.6s linear infinite;
}
.hide-loading {
  display: none;
}

/* title */
.title {
  text-align: center;
}
.title-underline {
  background: var(--primary-500);
  width: 7rem;
  height: 0.25rem;
  margin: 0 auto;
  margin-top: -1rem;
}
